body{
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ekran yüksekliği kadar genişletmek için */
}

.header {
  flex: 0.1; /* Header'ın 1/5 genişlikte olmasını istiyorsanız 1 yerine 1fr kullanabilirsiniz */
  background-color: #211e1e; /* Header arka plan rengi */
  color: white; /* Header metin rengi */
  padding: 20px;
}
/* .connect{
  background-repeat: no-repeat;
  background-position: top top;
  width: 100%;
  height: 45vh;
  top: 0;
  left: 0;
  position: relative;
  object-fit: revert;
  z-index: -1px;
  background-size: cover;
  background-image: url("../assets/body.jpg");
} */

.body {
  flex: 3; /* Body'nin 3/5 genişlikte olmasını istiyorsanız 3 yerine 3fr kullanabilirsiniz */
  background-color: #f0f0f0; /* Body arka plan rengi */
  
}

.footer {
  flex: 1; /* Footer'ın 1/5 genişlikte olmasını istiyorsanız 1 yerine 1fr kullanabilirsiniz */
  background-color: #211e1e; /* Footer arka plan rengi */
  color: white; /* Footer metin rengi */
  padding: 20px;
}
